    .main {
        padding: 2em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    body {
        background-image: url(weatherBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
    
    input {
        padding: 1em;
        background-image: radial-gradient(lightgrey, wheat);
        border: none;
        border-radius: 7px;
        color: darkolivegreen;
        font-size: 15px;
        font-weight: bold;
    }
    
    button {
        padding: 1em;
        border-radius: 7px;
        width: auto;
        background-color: darkslategray;
        font-weight: bold;
        font-size: 15px;
        color: wheat;
        border: none;
    }
    
    #inputBox {
        right: 5px;
    }
    
    .description {
        margin: 1em;
        background-color: #464d5a73;
        /* opacity: 0.5; */
        padding: 1em 2em;
        height: auto;
        width: auto;
        color: #f0f1f3;
        border: 1px solid black;
        border-radius: 10px;
    }
